body {
  margin: 0;
}

.app {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2c3e4d;

  &__header {
    padding: 20px 66px;
    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
      0px 4px 8px rgba(38, 50, 56, 0.08);
  }

  &__header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
